[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
alembic = "*"
asyncpg = "*"
passlib = {extras = ["argon2"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
python-jose = {extras = ["cryptography"], version = "*"}
aiosqlite = "*"
greenlet = "*"
streamlit = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
aiosqlite = "*"
black = "*"
ruff = "*"
mypy = "*"
streamlit = "*"

[requires]
python_version = "3.11"
